aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
Shazamio
youtube-search-python
wget
psutil
bs4
imdbpy
telegraph
pyshorteners
ytthumb
spotdl
psutil
spotipy
lyricsgenius
apscheduler
mutagen
urllib3
motor
openai==0.28.1
aiohttp
Flask
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
geopy
