aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
Shazamio
youtube-search-python
wget
psutil
bs4
imdbpy
telegraph
pyshorteners
ytthumb
spotdl
psutil
spotipy
lyricsgenius
apscheduler
mutagen
urllib3
